version: "3"
services:
  validator-keeper:
    build:
      context: .
      target: stakenet-services
    container_name: validator-keeper
    environment:
      - RUST_LOG=${RUST_LOG:-info}
      - SOLANA_METRICS_CONFIG=${SOLANA_METRICS_CONFIG}
      - JSON_RPC_URL=${JSON_RPC_URL}
      - KEYPAIR=${KEYPAIR}
      - ORACLE_AUTHORITY_KEYPAIR=${ORACLE_AUTHORITY_KEYPAIR}
      - CLUSTER=${CLUSTER}
      - VALIDATOR_HISTORY_PROGRAM_ID=${VALIDATOR_HISTORY_PROGRAM_ID}
      - TIP_DISTRIBUTION_PROGRAM_ID=${TIP_DISTRIBUTION_PROGRAM_ID}
      - STEWARD_PROGRAM_ID=${STEWARD_PROGRAM_ID}
      - STEWARD_CONFIG=${STEWARD_CONFIG}
      - PRIORITY_FEES=${PRIORITY_FEES}
      - RUN_CLUSTER_HISTORY=${RUN_CLUSTER_HISTORY}
      - RUN_COPY_VOTE_ACCOUNTS=${RUN_COPY_VOTE_ACCOUNTS}
      - RUN_MEV_COMMISSION=${RUN_MEV_COMMISSION}
      - RUN_MEV_EARNED=${RUN_MEV_EARNED}
      - RUN_STEWARD=${RUN_STEWARD}
      - VALIDATOR_HISTORY_INTERVAL=${VALIDATOR_HISTORY_INTERVAL}
      - STEWARD_INTERVAL=${STEWARD_INTERVAL}
      - METRICS_INTERVAL=${METRICS_INTERVAL}
      - RUN_STAKE_UPLOAD=${RUN_STAKE_UPLOAD}
      - RUN_GOSSIP_UPLOAD=${RUN_GOSSIP_UPLOAD}
      - RUN_EMIT_METRICS=${RUN_EMIT_METRICS}
      - FULL_STARTUP=${FULL_STARTUP}
      - NO_PACK=${NO_PACK}
      - PAY_FOR_NEW_ACCOUNTS=${PAY_FOR_NEW_ACCOUNTS}
      - COOL_DOWN_RANGE=${COOL_DOWN_RANGE}
      - GOSSIP_ENTRYPOINT=${GOSSIP_ENTRYPOINT}
    volumes:
      - ./credentials:/credentials
    restart: on-failure:5
    command: ./validator-keeper

  stakenet-metrics-service:
    build:
      context: .
      target: stakenet-services
    container_name: stakenet-metrics-service
    environment:
      - RUST_LOG=${RUST_LOG:-info}
      - SOLANA_METRICS_CONFIG=${SOLANA_METRICS_CONFIG}
      - JSON_RPC_URL=${JSON_RPC_URL}
      - CLUSTER=${CLUSTER}
      - VALIDATOR_HISTORY_PROGRAM_ID=${VALIDATOR_HISTORY_PROGRAM_ID}
      - TIP_DISTRIBUTION_PROGRAM_ID=${TIP_DISTRIBUTION_PROGRAM_ID}
      - STEWARD_PROGRAM_ID=${STEWARD_PROGRAM_ID}
      - STEWARD_CONFIG=${STEWARD_CONFIG}
      - METRICS_INTERVAL=${METRICS_INTERVAL}
    restart: on-failure:5
    command: ./stakenet-metrics-service
