[package]
name = "validator-history-cli"
version = "0.1.0"
edition = "2021"
description = "CLI to manage validator history program"

[dependencies]
anchor-lang = "0.28.0"
clap = { version = "4.3.0", features = ["derive", "env"] }
futures = "0.3.21"
futures-util = "0.3.21"
jito-tip-distribution = { git = "https://github.com/jito-foundation/jito-programs", rev = "b8f8d315306d6ac32450bd1aa23b7c1322a83bc7" }
log = "0.4.18"
solana-account-decoder = "1.16"
solana-clap-utils = "1.16"
solana-client = "1.16"
solana-metrics = "1.16"
solana-program = "1.16"
solana-sdk = "1.16"
thiserror = "1.0.37"
tokio = { version = "~1.14.1", features = ["full"] }
validator-history = { path = "../../programs/validator-history" }
